body{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px dotted rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}
h1.titulo {
    color: #000000;
    font-family: verdana;
    text-shadow: 4px 4px 4px white;
    font-size: 30pt;
    text-align: center;
}
p {
    color: white;
}
img {
    border: 4px solid #8B4513;
    object-fit: cover;
    transform: translateX(50%);
}